---
import "../../styles/global.css";
---

<html lang="ja">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="icon" href="/favicon.ico" />
</head>
  <body>
    <header class="site-header">
      <a href="/">Go Izumita</a>
      <nav>
  <a href="https://goizm.base.shop/" target="_blank">
    Shop
  </a>

  <a href="/jp/projects">Projects</a>

  <a href="/jp/about">JP</a>

  <a href="/about">EN</a>
</nav>
    </header>

    <main class="about">
  
   <h1>
    泉田剛
 </h1>

  <h2>
    美術作家/建築デザイナー
  </h2>

 <p>
    2001年青森県弘前市生まれ。武蔵野美術大学建築学科を卒業後、坂茂建築設計にて3DCG制作に従事。現在は、使われなくなった建築や放置された構造物を解体・再構成するプロセスを通じて、彫刻作品へと転換する実践を行っている。これらの構造物から取り出した素材を再配置することで、マテリアル・記憶・空間の関係性を探求している。また並行して、グラフィックデザインの知見を活かし、幅広いプロジェクトの支援にも携わっている。三次元と二次元、建築とグラフィックデザインの領域を横断しながら、従来のスケールや分野の枠組みを超えた新たな表現のあり方を模索している。
  </p>

  <h2>v Awards & Honors</h2>
  <p>令和7年度　文化庁メディア芸術クリエイター支援事業　創作支援採択 (2025–2026)</p>
  <p>Forbes JAPAN “100 PEOPLE TO WATCH IN 2026 30歳未満のフロントランナー50人が選ぶ2026年に注目すべき100人とは”掲載 (2026)</p>

  <h2>v Contact</h2>
  <p>
  Email:
  <a href="mailto:goizmdesign@gmail.com">
    goizmdesign@gmail.com
  </a>
</p>
  <p>
  Instagram: 
  <a href="https://instagram.com/go_izumita" target="_blank">
    @go_izumita
  </a>
</p>

<p>
  X:
  <a href="https://x.com/go_izm" target="_blank">
    @go_izm
  </a>
</p>

  <h2>v Career</h2>
  <p>teco inc. (2021-2023, Freelance Contract)</p>
  <p>noiz architects (2022, Internship)</p>
  <p>NOU Inc. (2023-2024)</p>
  <p>坂茂建築設計 (2024-2025)</p>
  <p>美術作家 / デザイナー (2025-Present)</p>

  <h2>v Business</h2>
  <p>アートプロジェクトの企画、設計、制作</p>
  <p>プロダクト、家具、什器の企画開発、設計、制作</p>
  <p>建築およびインテリアのコンセプトデザインと空間デザイン</p>
</main>
