---
import "../styles/global.css";
---

<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Go Izumita</title>
  <meta
    name="description"
    content="Go Izumita is an artist and architectural designer exploring memory, material, and space through dismantling and reconstruction."
  />
  <meta property="og:title" content="Go Izumita" />

<meta
  property="og:description"
  content="Artist and Architectural Designer"
/>

<meta
  property="og:image"
  content="https://goizumita.com/images/og.jpg"
/>

<meta property="og:type" content="website" />

<meta property="og:url" content="https://goizumita.com" />
  <link rel="icon" href="/favicon.ico" />
</head>

  <body>
    <header class="site-header">
      <a href="/">Go Izumita</a>
      <nav>
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
      </nav>
    </header>

    <main class="home-grid">
      <a href="/projects/disassembly" class="work-item">
        <img src="/images/work-01.jpg" />
        <div class="work-title">Deconstruction and Memory</div>
      </a>

      <a href="/projects/encounters" class="work-item">
        <img src="/images/work-02.jpg" />
        <div class="work-title">ENCOUNTERS 2025</div>
      </a>

      <a href="/projects/architecture-complexity-mapping" class="work-item">
        <img src="/images/work-03.jpg" />
        <div class="work-title">
          Architecture Complexity Mapping<br />
          Patterns of Architecture
        </div>
      </a>

      <a href="/projects/revolve" class="work-item">
        <img src="/images/work-04.jpg" />
        <div class="work-title">R/evolve</div>
      </a>
    </main>
  </body>
</html>