---
import "../styles/global.css";
---

<html lang="en">
  <head>
   <link rel="icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="site-header">
  <a href="/">Go Izumita</a>
  <nav>
  <a href="https://goizm.base.shop/" target="_blank">Shop</a>
    <a href="/about">About</a>
  </nav>
</header>

    <main class="project-list">
  <a href="/projects/disassembly" class="project-row">
    <div>Deconstruction and Memory</div>
    <div>Sculpture, Installation</div>
    <div>Aomori Museum of Art</div>
    <div>2025</div>
  </a>

  <a href="/projects/encounters" class="project-row">
    <div>ENCOUNTERS</div>
    <div>Media Art, Exhibition</div>
    <div>TODA HALL & CONFERENCE TOKYO</div>
    <div>2026</div>
  </a>

  <a href="/projects/architecture-complexity-mapping" class="project-row">
   <div>Architecture Complexity Mapping Patterns of Architecture</div>
    <div>Research, Architecture</div>
    <div>Musashino Art Univercity</div>
    <div>2024</div>
  </a>

  <a href="/projects/revolve" class="project-row">
    <div>R/EVOLVE</div>
    <div>Stage design and construction</div>
    <div>Musashino Art Univercity</div>
    <div>2023</div>
  </a>
</main>
  </body>
</html>
