---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <title>
      Texts & Talks — Go Izumita / 泉田剛
    </title>

    <meta
      name="description"
      content="Texts, essays, interviews, and articles related to Go Izumita / 泉田剛."
    />

    <meta
      property="og:title"
      content="Text — Go Izumita / 泉田剛"
    />

    <meta
      property="og:description"
      content="Texts, essays, interviews, and articles related to Go Izumita"
    />

    <meta
      property="og:image"
      content="https://goizumita.com/images/og.jpg"
    />

    <meta
      property="og:type"
      content="website"
    />

    <meta
      property="og:url"
      content="https://goizumita.com/text"
    />

    <link
      rel="icon"
      href="/favicon.ico"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/favicon.png"
    />
  </head>

  <body>
    <Header />

    <main class="project-list">

      <a
        href="https://www.designboom.com/art/abandoned-shed-rural-japan-monumental-sculpture-megaliths-disassembly-memory-go-izumita/"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          abandoned shed in rural japan transforms into monumental sculpture evoking megaliths
        </div>

        <div>
          Feature
        </div>

        <div>
          designboom
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://www.interndeco.com/en/articles/disassembly-and-memory-when-a-rural-japanese-shed-becomes-a-megalith"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          Disassembly and Memory: When a Rural Japanese Shed Becomes a Megalith
        </div>

        <div>
          Feature
        </div>

        <div>
          Interni & Decor
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://www.youtube.com/watch?v=LhqX_t2V5bY&t=1320s"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          解体から廃墟を彫刻にするまでの経緯と今後の展望
        </div>

        <div>
          Talks
        </div>

        <div>
          YouTube
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://creators.j-mediaarts.bunka.go.jp/reports/19737"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          令和7年度採択クリエイター座談会：泉田剛・小野龍一・まちだリな
        </div>

        <div>
          reports
        </div>

        <div>
          文化庁メディア芸術クリエイター育成支援事業
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://creators.j-mediaarts.bunka.go.jp/reports/19160"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          最終面談レポート#1：泉田剛
        </div>

        <div>
          reports
        </div>

        <div>
          文化庁メディア芸術クリエイター育成支援事業
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://creators.j-mediaarts.bunka.go.jp/reports/18890"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          中間面談レポート#2
        </div>

        <div>
          reports
        </div>

        <div>
          文化庁メディア芸術クリエイター育成支援事業
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://note.com/go_izm/n/nc569d8b19d42"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          記憶のむすびつき ― 人口/遺跡/風景
        </div>

        <div>
          essay
        </div>

        <div>
          note
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://note.com/go_izm/n/naf24f6197b20"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          解体のきっかけ ― ゴミスト/能登/産廃
        </div>

        <div>
          essay
        </div>

        <div>
          note
        </div>

        <div>
          2026
        </div>
      </a>

      <a
        href="https://creators.j-mediaarts.bunka.go.jp/reports/18492"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          初回面談レポート　#1：泉田剛
        </div>

        <div>
          reports
        </div>

        <div>
          文化庁メディア芸術クリエイター育成支援事業
        </div>

        <div>
          2025
        </div>
      </a>

      <a
        href="https://note.com/go_izm/m/m40a2ef44ab05"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          自己紹介マンガ　大学生編
        </div>

        <div>
          Comic
        </div>

        <div>
          note
        </div>

        <div>
          2025
        </div>
      </a>

      <a
        href="https://open.spotify.com/episode/0nsJf2QeTB8P2B020XSVbG?si=050ac8dee6874790"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          youth speakers uncut クラブ、銭湯、社会　なにが”いい空間”をつくるのか
        </div>

        <div>
          Talks
        </div>

        <div>
          Spotify
        </div>

        <div>
          2025
        </div>
      </a>

      <a
        href="https://www.youtube.com/watch?v=BIuaFwuc8PE"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          HYPER NATURE TALK 01 (Guest : Bluemo)
        </div>

        <div>
          Talks
        </div>

        <div>
          YouTube
        </div>

        <div>
          2024
        </div>
      </a>

      <a
        href="https://medium.com/@goizmdesign/%E5%85%89%E3%81%AE%E5%BB%BA%E7%AF%89-ecba241aea7f"
        class="project-row"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          光の建築
        </div>

        <div>
          Essay
        </div>

        <div>
          Medium
        </div>

        <div>
          2023
        </div>
      </a>

    </main>

    <Footer />
  </body>
</html>