---
import "../../../styles/global.css";
---

<html lang="ja">
  <head>
   <link rel="icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Architecture Complexity Mapping — Go Izumita</title>

    <meta
      name="description"
      content="武蔵野美術大学建築学科での卒業設計。低層・中層・高層の画一的な機能構成を反転し、より自由で立体的な都市空間を提案した。"
    />

    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
    <header class="site-header">
  <a href="/jp">Go Izumita</a>

  <nav>
  　<a href="https://goizm.base.shop/" target="_blank">Shop</a>
    <a href="/projects">Projects</a>
    <a href="/jp/about">About</a>
    <a href="/jp/projects/architecture-complexity-mapping">JP</a>
    <a href="/projects/architecture-complexity-mapping">EN</a>
  </nav>
</header>

    <main style="max-width: 800px;">
      <h1>Architecture Complexity Mapping Patterns of Architecture</h1>

      <p>
        武蔵野美術大学建築学科での卒業設計として制作した、高層ビルの提案および研究プロジェクト。
        低層・中層・高層という画一的な機能構成を反転し、より自由で立体的な都市空間を提案した。
      </p>

      <p>
        既存ビルの調査をもとに、RGBの加法混色を利用した分析や、透明フィルムに既存図面を重ねて製本したリサーチブックを制作した。
        また、全体像を持たない各要素の模型を通して、建築のプレゼンテーションや表現方法そのものを再考することを試みた。
      </p>

      <p>
        Exhibition Photo: Shunsuke Kudo
      </p>

      <img src="/images/work-03.jpg" />

      <img src="/images/ACMPA-1.JPG" />
      <img src="/images/ACMPA-2.JPG" />
      <img src="/images/ACMPA-3.JPG" />
      <img src="/images/ACMPA-4.JPG" />
      <img src="/images/ACMPA-5.JPG" />
      <img src="/images/ACMPA-6.JPG" />
      <img src="/images/ACMPA-7.JPG" />
      <img src="/images/ACMPA-8.JPG" />
      <img src="/images/ACMPA-9.JPG" />
      <img src="/images/ACMPA-10.JPG" />
      <img src="/images/ACMPA-11.JPG" />
      <img src="/images/ACMPA-12.JPG" />
      <img src="/images/ACMPA-13.JPG" />
      <img src="/images/ACMPA-14.JPG" />
      <img src="/images/ACMPA-15.JPG" />
    </main>
  </body>
</html>