---
import "../../../styles/global.css";
---

<html lang="ja">
  <head>
   <link rel="icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
ENCOUNTERS 2025 — 泉田剛 / Go Izumita
</title>
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
    <header class="site-header">
      <a href="/jp">Go Izumita</a>

      <nav>
        <a href="https://goizm.base.shop/" target="_blank">Shop</a>
        <a href="/projects">Projects</a>
        <a href="/jp/about">About</a>
        <a href="/jp/projects/encounters">JP</a>
        <a href="/projects/encounters">EN</a>
      </nav>
    </header>

    <main style="max-width: 800px;">
      <h1>ENCOUNTERS 2025</h1>
      <p>
        文化庁メディア芸術クリエイター育成支援事業 成果発表展「Texture Displaced：解体による建築的モデルとマテリアルのズレ」
      </p>

      <p>
        個展にて発表した作品をさらに発展させ、文化庁メディア芸術クリエイター育成支援事業の成果発表展にて展示した。会場はTODA BUILDING 4F「TODA HALL & CONFERENCE TOKYO」。
      </p>

        <p>
        高層ビルが立ち並ぶ高密度な都市空間の中で、解体した小屋の素材によって構成された彫刻は、突如として現れる異質な存在として立ち上がる。その対比は、建築技術の発展と、都市空間に積層された歴史の両方を想起させる。また、彫刻内部には外形を模したランプシェードが設置され、ゆらめく光を放っている。
      </p>

        <p>
        このインスタレーションは、祝祭的な雰囲気を生み出しながら、「家族」や「家」という存在、そして都市化の過程で失われていったコミュニティについて再考を促す空間となっている。
      </p>
      <p>
        Photo : Ryujin / Go Izumita
      </p>

      <img src="/images/work-02.jpg" />
      <img src="/images/toda-1.jpg" />
<img src="/images/toda-2.jpg" />
<img src="/images/toda-3.jpg" />
<img src="/images/toda-4.jpg" />
<img src="/images/toda-5.jpg" />
<img src="/images/toda-6.jpg" />
<img src="/images/toda-7.jpg" />
<img src="/images/toda-12.jpg" />
    </main>
  </body>
</html>