---
import "../../../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <title>
R/EVOLVE — 泉田剛 / Go Izumita
</title>

    <meta
      name="description"
      content="武蔵野美術大学電子音楽研究会での活動を通して制作した、ステージデザインおよび空間設計プロジェクト。"
    />

    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
    <header class="site-header">
      <a href="/jp">Go Izumita</a>

      <nav>
      <a href="https://goizm.base.shop/" target="_blank">Shop</a>
        <a href="/projects">Projects</a>
        <a href="/jp/about">About</a>

        <a href="/jp/projects/revolve">JP</a>
        <a href="/projects/revolve">EN</a>
      </nav>
    </header>

    <main style="max-width: 800px;">
      <h1>R/EVOLVE</h1>

      <p>
        武蔵野美術大学電子音楽研究会での活動を通して行った、ステージ空間の設計・施工プロジェクト。
      </p>

      <p>
        ステージを会場中央に配置することで、パフォーマンスを一方向から鑑賞するものではなく、あらゆる方向から体験できる空間へと変換した。観客、演者、音響、映像が相互に呼応しながら、一体化していく没入的な環境を生み出している。
      </p>

      <p>
        本プロジェクトは、大型の映像投影壁や円形スクリーンを用いた初期の実験を経て発展し、最終的には全長約21m、7:1という極端なアスペクト比を持つ巨大曲面スクリーンの設計・施工へと至った。
      </p>

      <p>
        モジュール化された構築システムと、実際に手を動かしながら行う施工プロセスを通して、建築、映像、音響、そして集団的な空間体験の新たな関係性を探求している。
      </p>

      <img src="/images/revolve-1.jpg" />
      <img src="/images/revolve-2.jpg" />
      <img src="/images/revolve-3.jpg" />
      <img src="/images/revolve-4.jpg" />

      <img src="/images/revolve-mov.gif" />
    </main>
  </body>
</html>