<footer class="site-footer">
  <a
    class="store-link"
    href="https://goizm.base.shop/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Store
  </a>

  <a class="text-link" href="/text">
    Texts & Talks
  </a>
</footer>