---
import "../../styles/global.css";
---

<html lang="en">
  <head>
   <link rel="icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />

  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Architecture Complexity Mapping — Go Izumita</title>

  <meta
    name="description"
    content="Go Izumita is an artist and architectural designer exploring memory, material, and space through dismantling and reconstruction."
  />

  <link rel="icon" href="/favicon.ico" />
</head>
  <body>
    <header class="site-header">
  <a href="/">Go Izumita</a>

  <nav>
  <a href="https://goizm.base.shop/" target="_blank">Shop</a>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>

    <a href="/jp/projects/architecture-complexity-mapping">
      JP
    </a>

    <a href="/projects/architecture-complexity-mapping">
      EN
    </a>
  </nav>
</header>

    <main style="max-width: 800px;">
      <h1>Architecture Complexity Mapping Patterns of Architecture</h1>
      <p>
        A proposal and research project for high-rise buildings.By reversing the conventional functional hierarchy of low-, mid-, and high-rise structures, the project proposes a more flexible and three-dimensional urban space.
      </p>
      <p>
        Based on investigations of existing buildings, the research includes analytical methods using RGB additive color mixing, as well as a research book created by layering existing architectural drawings onto transparent film. It also presents fragmented models of individual elements without a unified overall form, extending the work into a proposal for new modes of architectural representation and presentation.
graduation design project from the Department of Architecture at Musashino Art University.
      </p>
      <p>
        Exhibition Photo: Shunsuke Kudo
      </p>

      <img src="/images/ACMPA-1.JPG" />
<img src="/images/ACMPA-2.JPG" />
<img src="/images/ACMPA-3.JPG" />
<img src="/images/ACMPA-4.JPG" />
<img src="/images/ACMPA-5.JPG" />
<img src="/images/ACMPA-6.JPG" />
<img src="/images/ACMPA-7.JPG" />
<img src="/images/ACMPA-8.JPG" />
<img src="/images/ACMPA-9.JPG" />
<img src="/images/ACMPA-10.JPG" />
<img src="/images/ACMPA-11.JPG" />
<img src="/images/ACMPA-12.JPG" />
<img src="/images/ACMPA-13.JPG" />
<img src="/images/ACMPA-14.JPG" />
<img src="/images/ACMPA-15.JPG" />
    </main>
  </body>
</html>