---
import "../../styles/global.css";
---

<html>
  <head>
    <title>Architecture Complexity Mapping Patterns of Architecture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="site-header">
      <a href="/">Go Izumita</a>
    </header>

    <main style="max-width: 800px;">
      <h1>Architecture Complexity Mapping Patterns of Architecture</h1>
      <p>
        A proposal and research project for high-rise buildings.By reversing the conventional functional hierarchy of low-, mid-, and high-rise structures, the project proposes a more flexible and three-dimensional urban space.
      </p>
      <p>
        Based on investigations of existing buildings, the research includes analytical methods using RGB additive color mixing, as well as a research book created by layering existing architectural drawings onto transparent film. It also presents fragmented models of individual elements without a unified overall form, extending the work into a proposal for new modes of architectural representation and presentation.
graduation design project from the Department of Architecture at Musashino Art University.
      </p>
      <p>
        Exhibition Photo: Shunsuke Kudo
      </p>

      <img src="/images/work-03.jpg" />
    </main>
  </body>
</html>