---
import "../../styles/global.css";
---

<html>
  <head>
    <title>ENCOUNTERS</title>
  </head>
  <body>
    <header class="site-header">
      <a href="/">Go Izumita</a>
    </header>

    <main style="max-width: 800px;">
      <h1>ENCOUNTERS 2025</h1>
      <p>
        Agency for Cultural Affairs Media Arts Creator Development Support Program - Final ExhibitionDisassembly and Memory - Texture Displaced: The Displacement Between Architectural Model and Material Through Dismantling
      </p>

      <p>
        The work originally presented in the solo exhibition was further developed and exhibited at the final presentation of the Agency for Cultural Affairs Media Arts Creator Development Support Program. The venue was TODA BUILDING 4F, TODA HALL & CONFERENCE TOKYO.
      </p>

        <p>
        Within a dense urban context of high-rise buildings, the sculpture-constructed from materials of a dismantled shed-appears as a sudden and striking presence. This juxtaposition creates a contrast that evokes both the advancement of architectural technology and the layered history of urban space. Inside the sculpture, a lampshade replicating its external form is installed, emitting a gently flickering light.
      </p>

      <p>
        <p>
        This installation generates a sense of festivity that invites reflection on the idea of home and family, as well as on communities that have been lost through processes of urbanization.
      </p>
      </p>

      <img src="/images/work-02.jpg" />
    </main>
  </body>
</html>