---
import "../../styles/global.css";
---

<html>
  <head>
    <title>R/evolve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="site-header">
      <a href="/">Go Izumita</a>
      <nav>
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
      </nav>
    </header>

    <main>
      <h1>R/evolve</h1>
      <p>Description coming soon.</p>

      <img src="/images/work-04.jpg" />
    </main>
  </body>
</html>